@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyan: #00c8ff;
  --green: #00ff88;
  --amber: #ffa000;
  --navy: #04080f;
  --navy-mid: #060b14;
}

html {
  background: var(--navy);
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
